NEXT_PUBLIC_SUPABASE_URL=https://vyeouffsgdjoclblodmy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ5ZW91ZmZzZ2Rqb2NsYmxvZG15Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyMjg5MzAsImV4cCI6MjA4ODgwNDkzMH0.4gcHKfIby6S0LpaHgjbT8MmNDa9_IZtCFYBuP5FSMcc
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here
